@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    height: 100%;
    width: 100%;
    background: #441876;
background: -webkit-radial-gradient(circle, #441876 0%, #250f3b 50%, #000000 100%);
background: radial-gradient(circle, #441876 0%, #250f3b 50%, #000000 100%);
    text-transform: uppercase;
  }
}
