@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    height: 100%;
    width: 100%;
    background-image: radial-gradient(
      circle at top, 
      hsl(259, 72%, 17%) 30%,
      hsl(230, 18%, 7%)
    );
    text-transform: uppercase;
  }
}
